<pre style="width:600px; margin:auto;">

                               ..,.$~?~??$I:,:..                                
                            :=I+O~+D8ND8DOOOI7Z=:.                              
                         ..?=O8DODDDNDO8OMNMNNNO$I.                             
                       ..,ZZ8OZNMNNNNDDMNNMMMDNMDM7~.                           
                       .I=Z8NMNZMMMMMMNMMMMMNMM8NND8:.                          
                      ?7O8N8NMMMMMMMMNMMMNMNNMMMMNNZO,                          
                     .$$DDM8MDMMMMMMMMMMMNMMMMMMMMMD8? .                        
                    .=+8N8NMMMMMMMMNNN8ODMMMMMMNMMNNO7?.                        
                   .:88DMNMNMMMMMN$+:~~~~+?$MMNMMMNMNZ$..                       
                    :7N8DMDMMNMN8ZI=~:::~:+I$DMMMNMMM$:.                        
                   .:O8N8NMMNMMNO$+:,,,,:~~=$8MMMMMMNO,.                        
                    .ZNNMMMNMMMOODZIO+~~~=8NMNMMMMNMMZ,.                        
                    .=8NMMMMMMD8I77$7Z?,?OZI=INMMMMMMZ..                        
                     .+$NMNMMDDOO7:.~I?:?I~~~MMMMNMN:                           
                      .INMMMM$8Z=~~:==+:=7+++7DMMMMO.                           
                       .7OMMMMO?+=~:~~,:~$?++I8MMD.                             
                        .:DM.M87?=~~:N:NM8M+?7DD..                              
                           :OMNZ$?+IOZ8$Z8MDZDMZ.                               
                             DNNMDNMMM+$NOMMMMMM,                               
                         ...N8NMMMMOO87OO888DNM?,....                           
                       ..ZDDNOMMNDMN?ZI,NMNDONDMMMM:,.                          
                    . IOO88DD$MMMMMDDNO7ZNDNDZMMMMMNNDN,..                      
                  .$88888O88NNMMMMMMMNOMMMNMDOMMMMMMNNMNDO.                     
               ..Z88D8OO8O8NDDMDMNMNMMMMMMMMMMMMMMNMMNMMMMM8.                   
              .Z88888888888DDN$8NNNMMMMMMMMMMMMMMNNNNMNNNMMMN                   
             .O8D8O88DD8DD8DDDDMOMMMMMMMMDMMMMMMMNMMMNMNNMMMMN.                 
            +888888ON8D8D88DDDD$MMMMMMMMMMMMMMMMMNNNNNMMNMMMMMN                 
           .D88D8888DDDDNDDD8DMNMMMMMMMMMMMMMMMMNNNMMMNMMMMMMMN.                
           OO8D88DDDDNDDDNNNNNNNNMMMMMMMMMMMMMMMMNNMMMMMMMMMMMNN.               
           8D88DDDDDNNNNNNNDNMNNNMMMMMMMMMMMMNNNMNMMMMMMMMNMMMMM.               
          .NDN8DDDNNNMNNNNNNNMNNM7MMMMMMMMNNMMMMMMMMMMMMMMMMMMMMN               
          .DNDNND8DMMMMMMMMMMMNMMMMMMMMMMMMMMM8IMMMMMMMMMMMMMMMMM               
          .DNMNMMNNNNMMMMMMNMMMMMNDMMMMMMM$MMMZZMMMMMMMMMMMMMMMMM.              
          DDNNNMMNNMMMMMMMMMMMMMMMMMMMMMM8M+ZMZMZ$MMMMMMMMMMMMMMMM              
</pre>
<div>
	
	<form action="/login" method="post">
	    <div>
	        <label>Username:</label>
	        <input type="text" name="username"/>
	    </div>
	    <div>
	        <label>Password:</label>
	        <input type="password" name="password"/>
	    </div>
	    <div>
	        <input type="submit" value="Log In"/>
	    </div>
	</form>

</div>